<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
</head>
<body>
    <h1>Welcome Back <%= fn %></h1>
    <p>This is the homepage. There is a LOT of HTML on it.</p>
</body>
</html>