<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Item</title>
</head>
<body>
    
    <form method="POST" action="/new">
        <label>Title</label>
        <input type="text" name="title"/>

        <label>Date</label>
        <input type="text" name="date"/>
        <button>Submit</button>
    </form>

</body>
</html>