<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registration Page</title>
</head>
<body>
  <h1>Use this form to register</h1>

  <h3>Already registered? Visit the <a href="/login">login</a> page.</h3>

  <form method="POST" action="/register">
    <label>Email</label>
    <input name="email" />
    <br/>
    <label>Password</label>
    <input name="password" />
    <br/>
    <button type="submit">Register</button>
  </form>
  
</body>
</html>
